<html>
<head>
  <title>S3 Hook Demo</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  <style type="text/css">
    body {
      padding-top: 20px
    }
    .container {
      padding-bottom: 60px;
    }
    .inputs input, .inputs select, .inputs textarea , .inputs .button-box{
      margin-top: 5px
    }
    textarea {
      font-family: Courier;
    }
    select {
      width: 100%;
      font-size: 14px;
      border: thin solid grey;
      height: 32px;
    }
    .send.btn {
      width: 200px
    }
    .button-box {
      font-weight: normal !important;
      font-style: italic;
      padding-left: 20px;
    }
  </style>
</head>
<body ng-app="s3-demo">

  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <div class="navbar-brand">A Serverless Client for AWS Simple Storage Service</div>
      </div>
    </nav>

    <div class="inputs">
      
      <input type="text" class="form-control"
             placeholder="AWS Access key"
             ng-model="access" ng-change="setKeys()">

      <input type="text" class="form-control"
             placeholder="AWS Secret key"
             ng-model="secret" ng-change="setKeys()">

      <div class="button-box" ng-show="hasLocalStorage">
        <input id="remember" type="checkbox" ng-model="remember" ng-change="setRemember()">
        <label for="remember">Keep keys in Local Storage</label>
      </div>

      <select ng-options="s for s in endpoints"
              ng-model="endpoint" ng-change="setURL()">
      </select>

      <input type="text" class="form-control"
             placeholder="Bucket name"
             ng-init="bucket='jpillora-aus'"
             ng-model="bucket" ng-change="setURL()">

      <select ng-options="s for s in methods" ng-model="method">
      </select>

      <input type="text" class="form-control"
             placeholder="Request Path"
             ng-init="key='restricted/secret.txt'"
             ng-model="key" ng-change="setURL()">

      <textarea type="text" class="form-control"
             placeholder="Request Body"
             ng-show="method != 'GET' && method != 'DELETE'"
             ng-model="body"></textarea>

      <div class="row" ng-repeat="header in headers">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Header name"
                 ng-model="header.name", ng-change="updateHeaders()"></input>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Header value"
                 ng-model="header.value", ng-change="updateHeaders()"></input>
        </div>
      </div>

      <div style="text-align: center;">
        <button type="button"
               class="btn send btn-default navbar-btn"
               ng-disabled="running || !access || !secret"
               ng-click="run()">Send</button>
        <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/APIRest.html"
           target="_blank">
          S3 REST API Docs
        </a>
      </div>
    </div>

    <div class="output">
      Request URL:<br>
      <pre ng-bind="url || '...'"></pre>
      <!-- 
      Request Headers:<br>
      <pre ng-bind="requestHeaders || '...'"></pre>
      -->
      Response Code:<br>
      <pre ng-bind="responseCode || '...'"></pre>
      Response Headers:<br>
      <pre ng-bind="responseHeaders || '...'"></pre>
      Response Text:<br>
      <pre ng-bind="responseText"></pre>
    </div>
  </div>

  <script type="text/javascript" src="dist/0.2/s3hook.js"></script>

  <script type="text/javascript"
          src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>

  <script type="text/javascript">
    angular.module('s3-demo', []).run(function($rootScope, $timeout, $http) {

      scope = window.root = $rootScope;
      scope.hasLocalStorage = !!window.localStorage;
      scope.running = false;
      scope.endpoints = s3hook.endpoints
      scope.headers = [{}] //{name: 'x-amz-acl', value: 'public-read'}, 
      scope.methods = [
        "GET",
        "PUT",
        "POST",
        "DELETE"
      ]

      //defaults
      scope.method = scope.methods[0]
      scope.endpoint = scope.endpoints[1]

      scope.updateHeaders = function() {
        var spare = -1;
        var full = true;
        for(var i in scope.headers){
          var h = scope.headers[i];
          if(!h.name || !h.value) {
            if(!full)
              spare = +i;
            full = false;
          }
        }
        if(full)
          scope.headers.push({});
        else if(!full && spare >= 1)
          scope.headers.splice(spare, 1);
      }

      scope.setRemember = function() {
        var r = scope.remember;
        localStorage.setItem('access', r ? scope.access : '');
        localStorage.setItem('secret', r ? scope.secret : '');
      }

      scope.setKeys = function() {
        s3hook(scope.access, scope.secret);
        if(scope.remember){
          localStorage.setItem('access', scope.access);
          localStorage.setItem('secret', scope.secret);
        }
      };

      scope.setURL = function() {
        scope.url = scope.endpoint + "/" + scope.bucket + "/" + scope.key;
      };

      scope.run = function() {

        scope.running = true;

        headers = {}
        for(var i in scope.headers) {
          var h = scope.headers[i], n = h.name, v = h.value;
          if(n && v) headers[n] = v;
        }

        $http({ 
          method: scope.method, 
          url: scope.url,
          data: scope.body,
          headers: headers
        }).success(gotResponse)
          .error(gotResponse);

        function gotResponse(data, status, headers, config) {
          headers = headers();
          scope.responseCode = status;
          scope.responseHeaders = xhook.headers(headers);
          scope.responseText = typeof data === 'string' ? data : JSON.stringify(data, null, 2);
          scope.running = false;
        }
      };

      $timeout(function() {
        if(scope.hasLocalStorage) {
          scope.access = localStorage.getItem('access');
          scope.secret = localStorage.getItem('secret');
          scope.remember = !!scope.access && !!scope.secret;
          scope.setKeys();
        }
        scope.setURL();
      });
    });
  </script>
</body>
</html>