body
  padding-top 20px

.container
  padding-bottom 60px

.inputs input, .inputs select, .inputs textarea , .inputs .button-box
  margin-top 5px

textarea
  font-family Courier

select
  width 100%
  font-size 14px
  border thin solid grey
  height 32px

.send
  &.btn
    width 200px

.file
  &.btn
    margin 10px

.body
  
  position relative

  .toggle
    position absolute
    right 10px
    top 3px

  .dropzone
    border-radius 5px
    margin 5px
    padding 25px 10px
    text-align center
    font-style italic

.button-box
  font-weight normal !important
  font-style italic
  padding-left 20px

.prog p
  font-style: italic;
  font-size: 0.8em;
  margin 5px 50%

.loading .result
  background-color rgba(lightblue, 0.3)